# Python junk
venv/
env/
__pycache__/
*.pyc

# Django junk
backend/staticfiles/
backend/media/
backend/db.sqlite3

# Frontend junk
frontend/node_modules/
frontend/dist/

# Large binaries
*.mp4
*.mov
*.wav

# Environment variables
.env